body{
    font-family: Goudy Old Style  ;

}



.section-testimonial .review i{
    left: 15px;
}

.section-header .section-header-title {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 1.1px;

}

.features-left .feature-box{
    text-align: left;
    letter-spacing: 1px;

}

.section-testimonial .review  .avatar-body {
    margin-left: 15px;
}

.section-newsletter {
    background-image: linear-gradient( 115deg, rgba(96, 96, 218, 0.7),RosyBrown );
}

.section-newsletter form button{
    margin-left: 10px;
}

.footer-top .footer-link li:not(:last-of-type) a:after {
    margin-left: 10px;

}


 .footer-bottom{
    background-image: linear-gradient( 115deg, rgba(96, 96, 218, 0.7),RosyBrown ), url(https://www.pinterest.com/pin/415949715578514032/);}


.section-faqs  .card-header h5:after {
    right: 0;

}

.contact-information ul li i {
    margin-right: 5px;

}

.icon-mode{
    right: 15px;

}


.section-cover  .section-cover-details  .detail div{
    margin-right: 8px;

}

.section-about  .section-box-icon {
    margin-right: 15px;

}

.navbar-nav  .nav-item:not(:first-of-type){
    margin-left: 10px;
}

.section-features{
    background-image: linear-gradient( 115deg, rgba(96, 96, 218, 0.7),RosyBrown ), url(https://www.pinterest.com/pin/415949715578514032/);

}
.section-features .features-right .feature-box-icon{
    margin-right: 20px;
}
.section-features .features-left .feature-box-icon{
    margin-left: 20px;
}

input , textarea{
    padding: 10px 40px 10px 15px;
}


.section-faqs  .card-header h5 {
    padding-right: 30px;

}
@media (max-width: 575.98px) {
    .section-newsletter form button{
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item:not(:first-of-type){
        margin-left: 0;
    }
}

@media (max-width: 1199.98px) {
    .features-left .feature-box .feature-box-icon{
        margin-left: 0;
    }
    .features-left .feature-box .feature-box-icon{
        margin-right: 20px;
    }

    .features-left .feature-box{
        text-align: left;
    }


}